{% extends 'blog/base.html' %}

{% block content %}
<div class="container">
    <h1>Impressum / Legal Notice</h1>

    <br/>
    <p>Add your legal notice or other information or law required stuff for your users here.</p>
</div>
{% endblock %}