{% extends 'blog/base.html' %}

{% block content %}
    <div class="container">
        <h1>New Comment</h1>
        <form method="POST" class="post-form hoverable">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                <i class="material-icons right">send</i>
            </button>
        </form>
    </div>
{% endblock %}