{% extends 'blog/base.html' %}

{% block content %}
    <div class="container">
        <h1>Contact Form</h1>
        <p>
            To contact us please provide us a topic name, your message, a name which we can answer to, and an E-Mail adress.
        </p>
        <form method="POST" class="post-form hoverable" style="padding: 5px 5px 5px 5px;">
            {% csrf_token %}
            {{ form.as_p }}
            <!--<button type="submit" class="btn waves-effect waves-light">Submit</button>-->
            <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                <i class="material-icons right">send</i>
            </button>
        </form>
    </div>
{% endblock %}