{% extends 'blog/base.html' %}

{% block content %}
    <div class="container">
        <h1>New Post</h1>
        <form method="POST" class="post-form hoverable" style="padding: 5px 5px 5px 5px;">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn waves-effect waves-light">Save</button>
        </form>
    </div>
{% endblock %}