{% extends 'blog/base.html' %}
{% load static %}
{% block content %}

<div class="container">
    <h2 class="header">Welcome to the Programming Section</h2>
    <p>
        <div class="card horizontal">
            <div class="card-image">
                <img src="{% static 'img/prog.png' %}">
            </div>
            <div class="card-stacked">
                <div class="card-content">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam imperdiet commodo dolor, volutpat pretium massa.
                    </p>
                </div>
                <div class="card-action">
                    <a style="text-transform:none;" href="https://gitlab.com/dcpacky">To my Gitlab Profile</a>
                </div>
            </div>
        </div>

        <ul class="collection">
            {% for programmingSectionObject in PSOs reversed %}
            <li class="collection-item avatar">
                <a href="{{ programmingSectionObject.link }}">
                    <i class="material-icons circle">code</i>
                    <span class="title" style="font-size:1.1em;"><b>{{ programmingSectionObject.title }}</b></span>
                    <p>
                        {% autoescape off %}{{ programmingSectionObject.description|safe }}{% endautoescape %}
                    </p>
                    <!--<a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>-->
                </a>
            </li>
            <li class="divider blue-grey" tabindex="-1"></li>
            {% endfor %}
        </ul>
    </p>
</div>
{% endblock %}